<h2><%= @article.title %></h2>
<p><%= @article.content %></p>
<%= link_to "Edit #{@article.title}", edit_article_path  %>
<%= link_to "Delete #{@article.title}",
            article_path(@article),
            method: :destroy,
            data: { confirm: "Are you sure?" } %>
<%= link_to "Back", articles_path %>
